<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 thumbnail ">
            <img src="img/airpod1.jpg" width="100%" height="100%"
                 class="img-responsive"
                 alt="Generic placeholder thumbnail">
            <div class="caption">


                <div class="col-xs-6 col-xs-offset-4 container-1 search-container">
                    <h3>Buy and sell your</h3>
                    <h3>beloved AirPods</h3>
                    <!--<div>-->
                    <!--<input type="checkbox" ng-model="checkedAddress" ng-change="addressShow(checkedAddress)"-->
                    <!--aria-label="...">-->
                    <!--<span><label>Use current location</label></span>-->
                    <!--</div>-->

                    <div class="input-group search-group">
                        <input type="text" class="form-control address-input "
                               placeholder="Enter your Zipcode..." ng-model="userSearchedLocation">

                        <span class="input-group-btn">

                          <button class="btn1 btn-secondary search-button" type="button" ng-click="getLatlon()">Go!
                          </button>
                        </span>
                    </div>
                    <div>
                        <div class="search-spinner">
                          <span><h3></h3>
                           <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></span>
                        </div>


                        <!--<span class="icon-spinner"><i class="fa fa-spinner load-animate"></i></span>-->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row block2">
        <div class="col-lg-12 col-sm-12 text-center">
            <h2 class="section-heading">Stay tuned!</h2>
            <hr class="light">
            <p class="text-faded">AirPodsLost is under development, we will see you soon ;)</p>

        </div>
    </div>

</div>
